@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Prata&display=swap');

.campo-texto{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

.campo-texto label{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.6rem 0;
}

.campo-texto input{
    width: 100%;
    padding: 1.5rem 1rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    //es para cuando le das click al input el border cambiar de color
    outline-color: #6278F7;
}